[Unit]
Description=Loads the skeleton-service service

[Service]
ExecStart=/usr/sbin/skeleton-test
Type=forking
KillMode=mixed
# Due to the use of dameon

[Install]
WantedBy=multi-user.target
