[Unit]
Description=Charge le service skeleton-test

[Service]
ExecStart=/usr/sbin/skeleton-test
KillMode=process
# Due to the use of dameon

[Install]
WantedBy=multi-user.target
